@font-face {
    font-family: cornerstone;
    /*src: url("../resources/Fyodor-Bold.eot") format("embedded-opentype");*/
    src: url("../resources/Fyodor-Bold.woff");
    /*src: url(../resources/Fyodor-Bold.ttf) format("truetype");*/
    font-weight: normal;
    font-style: normal;
}





#BTN{
    background-image: url("../resources/uni.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    width:600px;
    height :630px;
    font-family: cornerstone;
    
    
}

h1{
    
    position: absolute;
    text-align:center;
    font-size:400%;
    width: 100%;
    top:15%;
 }

 #mediah{
    position:relative;
    font-size:250%;
    top:-9%;
    left: 27%;
 }


 #mediaacth{
    position:relative;
    font-size:250%;
    top:-44%;
    left: -28%;
 }

#media{
    position: relative;
    font-size: 200%;
    top: -10%;
    left: 27%;
}

#mediaact{
    position: relative;
    font-size: 200%;
    top: -45%;
    left: -27%;
}

#main{
    position: absolute;
    width: 400px;
    height: 250px;
    border: 7px solid black;
    padding: 25px;
    top: 35%;
    left:12%;
    text-align: center;
    background: rgb(204, 204, 204);     
    background: rgba(204, 204, 204, 0.5);
    
 }


 #menuBtn{
    position: absolute;
    right:30%;
    top:87%;


}

button{
    
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background: black;
    border-color: black;
}

button:hover{
    background: #a0a0a0;
}


button:active{
    color: white;
    background: #262626;
}

table{
    width:460px;
    height:20%;
    position:relative;
    left:-7%;
    top:-10%;
    
    border: 10px solid black;
    

}

#tabela3{

}

th, td {
    border: 1px solid black;
    text-align: center;
}

th{
    font-size: 10px bold;
}

#audioBtn{
    position: absolute;
    background: transparent;
    border-color: transparent;
    transition-duration: 0s;
    outline: none;
    top: 2%;
    left: 90%;
}

#audioBtn:active{
    color: transparent;
    background: transparent;
}